.button {
  border: 1px solid rgba(43, 46, 57, 1);
  color: rgba(234, 242, 247, 1);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  padding: 16px;
}

.button:hover,
.button:hover > svg {
  color: #a09ccb;
}

.disabled {
  color: rgba(162, 169, 185);
  cursor: not-allowed;
}

.disabled:hover,
.disabled:hover > svg {
  color: rgba(162, 169, 185);
}

.link {
  text-decoration: none;
}
