.title {
  text-transform: uppercase;
  color: #555273;
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

.datePicker input {
  width: 100%;
  height: 50px;
  color: #555273;
  border: 1px solid #555273;
  background-color: rgba(0, 0, 0, 0.02);
  padding-left: 15px;
  padding-right: 15px;
}

.datePicker input:focus {
  outline: 1px solid #555273;
}
