.faqContainer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.icon {
  margin-left: 25px;
}

.faqQuestionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.faqQuestionContainer:hover {
  cursor: pointer;
}

.faqQuestion {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(234, 242, 247, 1);
  font-weight: 500;
}

.faqAnswer {
  display: none;
  z-index: -1;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  line-height: 1.5;
  color: rgba(162, 169, 185);
}

.shown {
  display: block;
}
