.horizontalAdDesktop {
  min-height: 0 !important;
  max-width: 728px;
}

.horizontalAdDesktop:has(iframe) {
  min-height: 90px !important;
  margin-top: 25px;
}

@media (max-width: 777px) {
  .horizontalAdDesktop {
    display: none;
  }
}
