.largeTitle {
  font-size: 5rem;
  font-weight: 700;
  color: rgba(234, 242, 247, 1);
  letter-spacing: 0.05rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .largeTitle {
    font-size: 4rem;
  }
}

@media (max-width: 750px) {
  .largeTitle {
    font-size: 3rem;
  }
}
