.largeTitle {
  font-size: 6rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .largeTitle {
    font-size: 4rem;
  }
}

@media (max-width: 750px) {
  .largeTitle {
    font-size: 3rem;
  }
}
