.container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: auto;
  width: 100%;
  max-width: 500px;
  background-color: #101113;
  padding: 20px;
}

.title {
  color: rgba(234, 242, 247, 1);
  font-weight: 500;
  font-size: 1rem;
  display: block;
  line-height: 1.7;
}

.text {
  color: rgba(162, 169, 185);
  line-height: 1.7;
}

.button {
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 520px) {
  .container {
    right: 0;
    bottom: 0;
    max-width: 520px;
  }
}
