html,
body {
  padding: 0;
  margin: 0;
  background-color: rgba(24, 28, 31, 1);
  font-family: "Open Sans", sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

p {
  color: rgba(162, 169, 185);
}

.link {
  color: rgb(116, 158, 248);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/**
* DatePicker overrides
*/
.react-datepicker {
  background-color: #181b1e !important;
  border-color: rgba(43, 46, 57, 1) !important;
}
.react-datepicker__current-month {
  color: rgba(234, 242, 247, 1) !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
  color: rgba(162, 169, 185) !important;
}
.react-datepicker__day {
  border: 1px solid transparent !important;
}
.react-datepicker__day:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid rgba(43, 46, 57, 1) !important;
}
.react-datepicker__header {
  background-color: #181b1e !important;
  border-color: rgba(43, 46, 57, 1) !important;
}
