.formContainer {
  margin-top: 50px;
  width: 600px;
}

.inputContainer {
  display: flex;
}

.inputContainer .input {
  margin-right: 25px;
}

.inputContainer .input:last-child {
  margin-right: 0px;
}

.input {
  width: 100%;
}

.availability,
.loading,
.disclaimer {
  margin-top: 50px;
}

.unavailable {
  font-style: italic;
  text-decoration: underline;
  color: #c22626;
}

.available {
  font-style: italic;
  text-decoration: underline;
  color: #208e4c;
}

.info {
  margin-top: 10px;
  margin-bottom: 0;
  color: #555273;
}

.info > span {
  font-weight: 500;
}

.disclaimer {
  font-size: 0.875rem;
  max-width: 500px;
  color: #555273;
}

.buttonContainer {
  margin-top: 50px;
}

@media (max-width: 750px) {
  .formContainer {
    margin-top: 25px;
    max-width: 300px;
  }

  .availability,
  .loading,
  .disclaimer {
    margin-top: 25px;
  }

  .inputContainer {
    display: block;
  }

  .inputContainer .input {
    margin-right: 0px;
    margin-top: 25px;
  }

  .buttonContainer {
    margin-top: 40px;
  }
}
