.privacyPolicy {
  margin-top: 50px;
  max-width: 820px;
  line-height: 1.5;
}

.privacyPolicy ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.2rem;
}

.privacyPolicy ul li {
  margin-top: 0.7rem;
}

.privacyPolicy ul li:first-of-type {
  margin-top: 0;
}

@media (max-width: 750px) {
  .privacyPolicy {
    margin-top: 25px;
  }
}
